$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"
@import "../../bower_components/bootstrap-stylus/bootstrap"

body
  background-repeat: repeat
  background-image url('../images/bg.png')

.top-buffer
  margin-bottom 15px

li.top-buffer
  margin-bottom 5px

.strike
  text-decoration line-through
